# Windows batch files should use CRLF
*.cmd text eol=crlf

# Shell scripts should use LF
*.sh text eol=lf

# Java, YAML, Markdown, etc. also usually LF
*.java text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.md   text eol=lf
