# ==========================
# Build files
# ==========================
target/

# ==========================
# IDE files
# ==========================
.idea/
*.iml

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS files
# ==========================
.DS_Store

# ==========================
# Environment files
# ==========================
.env
